table {
    margin: auto;
    /* border-collapse: collapse; */
    border: 2px solid red;
    border-radius: 10px;
}
th.rank, td.rank {
    background-color: black;
    color: white;
    text-align: center;
}
th.country, td.country {
    background-color: white;
    color: black;
    text-align: left;
}
th.gold, td.gold {
    background-color: gold;
    color: black;
    text-align: center;
}
th.silver, td.silver {
    background-color: silver;
    color: black;
    text-align: center;
}
th.bronze, td.bronze {
    background-color: #cd7f32;
    color: black;
    text-align: center;
}
th.total, td.total {
    background-color: green;
    color: black;
    text-align: center;
}
th, td {
    border-top: 2px;
    border-bottom: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0;
}
th:hover, td:hover {
    border-top: 5px;
    border-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
tr:hover td {
    background-color: grey;
}